html,
body {
  height: 100vh;
}

#register-wrapper {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.21), rgba(0, 0, 0, 0.21)),
    url("/paycomProject/assets/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#register-card {
  width: 60%;
}

#register-hero-img {
  width: 16vw;
  padding: 15px;
}

@media only screen and (min-width: 960px) {
  #register-card {
    width: 35vw;
  }
  #register-hero-img {
    width: 10vw;
  }
}

@media only screen and (min-width: 1600px) {
  #register-card {
    width: 25vw;
  }
  #register-hero-img {
    width: 10vw;
  }
}

.register-field-input {
  width: 100%;
}
