html, body {
  height: 100vh;
}

#register-wrapper {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.21), rgba(0, 0, 0, 0.21)), url("../../assets/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#register-card {
  width: 35vw;
}

.register-field-input {
  width: 100%;
}

#register-hero-img {
  width: 45%;
  padding: 15px;
}