body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*padding-top: 140px;*/
  background-color: #edeef0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#sidebar {
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background-color: #385B28;
  color: #fff;
  transition: all 0.3s;
}

.sidebar-header {
  height: 30%;
  background-image: url('/assets/header-bg.jpg');
  background-size: 100% 100%;
}

#sidebar-black-layer {
  background-color: rgba(28, 25, 25, 0.699);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sidebar-img {
  border-radius: 50%;
  border: 1px solid white;
  width: 65%;
}

#wrapper {
  margin-left: 240px;
}

#top-bar {
  margin-left: 240px;
  border-bottom: 1px solid lightgray;
}

.top-action-btn {
  font-size: "1.25em";
  font-weight: "500",
}

.top-action-btn:hover {
  background-color: #D3D3D3;
}

.rounded-img {
  border-radius: 50%;
  border: 1px solid gray;
}

#user-name-label {
  font-size: .7em;
  margin-left: .5em;
}

#card-container {
  margin-top: 80px;
  ;
}